@charset "UTF-8";

/* Скидання стилів */
@import url("../css/reset.css");
@import url("../css/colors.css");
html {
   scroll-behavior: smooth;
}

.wrapper {
   position: relative;
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;  
}
.wrapper > main {
   flex-grow: 1;
}
.page > section:not(:first-child) {
  
 }
 .page > section:last-of-type {
  
 }
[class*="__container"] {
   max-width: 1230px;
   padding-inline: 15px;
   margin-inline: auto;
}

